DASHSCOPE_API_KEY=
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
AGENT_DEFAULT_MODEL=qwen3.7-plus-2026-05-26
AGENT_ESCALATION_MODEL=qwen3.8-max
AGENT_MAX_TOOL_ROUNDS=12
AGENT_ESCALATION_RESIDUAL_MM=0.15
AGENT_MODEL_MODE=auto
